{% extends "base.html" %}
{% block content %}
    <div class="product-container">
        <div class="product-grid">
        
        <!-- Product Image -->
        <div class="product-image">
            <img class="card-img-top" src="{{ product.image.url }}" alt="..." />
        </div>

        <!-- Product Info -->
        <div class="product-info">
            <h1>{{ product.name }}</h1>
            <div class="price">Price: ${{ product.price }}</div>

            <ul class="features">
                <li>✔ Premium Quality Material</li>
                <li>✔ Durable & Long-lasting</li>
                <li>✔ Lightweight Design</li>
            </ul>

            <div class="flex gap-4 mt-4">
                <a href="{% url 'cart_detail' %}" 
                class="btn no-underline flex-1 text-center ">
                    ← Back to Home
                </a>

                <button 
                    type="button"
                    class="button w-auto add-to-cart"
                    data-product-id="{{ product.id }}">
                        Add To Cart
                </button>
            </div>
        </div>
    </div>
    <br><br>
{% endblock content %}
{% block scripts %}
    <script>
       $(document).on('click', '.add-to-cart', function(e){
    e.preventDefault();
    let product_id = $(this).data('product-id');
    $.ajax({
        type: 'POST',
        url: "{% url 'add_cart' %}",
        data: {
            product_id: product_id,
            action: 'post',
            csrfmiddlewaretoken: '{{ csrf_token }}'
        },
        success: function(json){
            $("#cart-count").text(json.quantity);  // update navbar
        },
        error: function(xhr){
            console.log("Add cart error:", xhr.responseText);
        }
    });
});
    </script>
    {% endblock scripts %}

